
#color-selector-container {
    position: absolute;
    top: 0px;
    left: 0px;
    

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.color-selector-element{
    cursor: pointer;
    padding: 2px;
    /*background-size: cover;*/

    height: var(--cell-size);
    width: var(--cell-size);

    z-index: 20;

    border-style: solid;
    border-color: #696969 #444444 #444444 #696969; 
    border-width: var(--cell-border);
    /*margin: calc(0.5 * var(--cell-border));*/

    font-size: var(--cell-text-size);
    color: #00000000;
    /*-webkit-text-stroke: 0px #00000000;*/

    overflow: hidden;
    transition:  .7s ease-in-out 0s;
}
.color-selector-element:hover,.color-selector-element:focus{ /*COMMA IS THE "OR" OPERATOR FOR SELECTORS*/
    width: calc( 7 * var(--cell-size));
    height: calc( 2 * var(--cell-size));
    /*-webkit-text-stroke: 0.5px #6464647e;*/
    color: #ffffffa0; 
}