
/****************
* CURSOR
****************/

#tile-cursor{
    position: absolute;
    top:  calc(var(--cur-y) * (var(--cell-size) + var(--cell-border) * 2) + var(--cell-border));
    left: calc(var(--cur-x) * (var(--cell-size) + var(--cell-border) * 2) + var(--cell-border));
    z-index: 9;
    background: #00000000;
    border-style: solid;

    height: var(--cell-size);
    width: var(--cell-size);

    animation-name: cursor-blink;
    animation-duration: 420ms;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
:root{
    --cursor-min: 5px;
    --cursor-max: 10px;
}

@keyframes cursor-blink{
    0% {
        border-color: #0e01885e;
        border-width: var(--cursor-min);
        transform: translate(calc(-1 * var(--cursor-min)),calc(-1 * var(--cursor-min)));
    }
    100%{
        border-color: #7c11e0a1;
        border-width: var(--cursor-max);
        transform: translate(calc(-1 * var(--cursor-max)),calc(-1 * var(--cursor-max)));
    }
}