@font-face {
    font-family: PixelTiny;
    src: url('../PixelTiny.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: PixelTiny;
  /*font-size: 3em;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #141414;
  overflow: hidden;

}

#header{
    width: 100%;
    height: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    background: #535353;
    box-shadow: 0px 3px 5px #00000085;
    display: flex;
    justify-content: space-around;
}
#header div{
    color: #ffffff;
}

/**************
* MESSAGE     *
**************/

#game-over-modal{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100vw;
    height: min-content;
    padding: 10px;

    background: #0000005e;

    flex-direction: column;
    align-items: center;

    animation-name: modal-pan-in;
    animation-duration: 320ms;

}
@keyframes modal-pan-in{
    0% {
        left: -60%;
    }
    100%{
        left: 50%;
    }
}
#game-over-modal * {
    margin-left: 50%;
    transform: translate(-50%, 0%);
}
#game-over-modal div {
    width: max-content;
    color: #ffffff;
    background: #000000ad;
    padding: 5px 100px 5px 100px;
    margin-bottom: 7px;
}

/****************
* OPTIONS MENU
*****************/

#menu-container{

    bottom: -50vh; /*COUPLED CODE #1*/
    left: 50%;
    transform: translate(-50%,0%);
    position: fixed;
    transition: bottom .7s ease-in-out 0s;
    display: flex;
    flex-direction: column;
}
.menu-open-anim{
    bottom: 0 !important;
}
#menu-open-close{
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}
#menu-panel{
    background: #0000008f;
    width: 50vw;
    transition: width 500ms ease-in-out .3s;
    height: 50vh; /*COUPLED CODE #1*/
}
#menu-icon{
    fill: #00000042 !important;
}
#menu-panel *{
    margin-left: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    transform: translate(-50%,0%);
    border: none;
}
#menu-panel input{
    background: rgba(0, 0, 0, 0.644);
    color: #ffffff5d;
    padding: 2px;
}
#mine-slider{
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    height: 5px;
    opacity: 0.7;
    transition: opacity 150ms ease-in-out;
}
#mine-slider:hover{
    opacity: 1;
}
#mine-slider::-webkit-slider-thumb{
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    cursor: pointer; /* Cursor on hover */

    width: 15px; 
    height: 15px;
    background: #c2c2c2;
}


/**************
* UTILITY     *
**************/
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
 }

 /**************
  BUTTONS
  *************/

button {
    color: #ffffff;
    background: #535353;
    box-shadow: 3px 3px 5px #00000085;
    border: none;
    cursor: pointer;
    transition: all 150ms ease-in-out;

}
button:hover{
    color: #000000;
    background: #f5f5f5;
}



/* MISC*/

#antimine-label{
    color:#ffffff44;
}