:root{
    --cell-size: '';
    --cell-text-size: 6em;
    --cell-borders: 2px;
    --hover-color: #8a8a8a;
}

#game-area{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: auto;
    width: min-content;


    display: grid;
    grid-template-columns: var(--cell-size) auto;
    grid-template-rows: auto var(--cell-size);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    justify-content: center;

}

#hp-container{
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 2;

    position: relative;
}
#game-board{

    position: relative;

    width: min-content; /*??? might not need anymore*/
    box-shadow: 3px 3px 5px #00000085;

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;

}
#mine-counter-container{
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 2;
    grid-row-end: 3;
}
#color-levels-container{
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 3;

    display:flex;
    justify-content: space-around;
}





/***************
* BOARD STYLES *
***************/
.game-row{
    display: flex;

}
/****************
* HEALTH BAR 
*****************/


#health-bar-animate{

    position: absolute;
    left: 0;
    bottom:0;
    width: calc(100% - 8px);

    background: #4d0000;
    border-style: solid;	
    border-color: #5d0000 #3d0000 #3d0000 #5d0000; 	
    border-width: 4px;

    transition: all .7s ease-in-out 0s;
    box-shadow: 3px 3px 5px #00000085;
}
#health-bar-counter{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom:4px;
    z-index: 5;

    background: #0000005e;
    color: #ffffffa4;
    padding: 2px;
}

/******************
* REMAINING MINES *
******************/
#mine-counter-container{
    background: #004d00;
    border-style: solid;	
    border-color: #005d00 #003d00 #003d00 #005d00; 	
    border-width: 4px;
    box-shadow: 3px 3px 5px #00000085;

    position: relative;


    
}
#mine-counter-container div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/**********************
* COLOR LEVELS / INFO *
**********************/
#color-levels-container{
    background: #49688f;
    border-style: solid;	
    border-color: #4d719c #304968   #304968 #4d719c;
    border-width: 4px;
    box-shadow: 3px 3px 5px #00000085;

}
.toolbar-item{
    transform: translate(0, -35%);
}
.toolbar-slider{
    background: rgba(0, 0, 0, 0.644);
    color: #ffffff5d;
    padding: 2px;

    -webkit-appearance: none; /* Override default look */
    appearance: none;
    height: 5px;
    opacity: 0.7;
    transition: opacity 150ms ease-in-out;
}
.toolbar-slider:hover{
    opacity: 1;
}
.toolbar-slider::-webkit-slider-thumb{
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    cursor: pointer; /* Cursor on hover */

    width: 15px; 
    height: 15px;
    background: #c2c2c2;
}
.toolbar-item{
    color:#ffffffaa;
}




/**************
* CELL STYLES *
**************/
.cell{
    height: var(--cell-size);
    width: var(--cell-size);

    display: flex;
    align-items: center;
    justify-content: center;

}
.cell-covered{
    /*background: linear-gradient(135deg, #535353 0%,#4d4d4d 100%);*/
    background: #535353;
    border-style: solid;
    border-color: #696969 #444444 #444444 #696969; 
    border-width: 2px;
    transition: all 49ms ease-in-out;

    box-shadow: 1px 1px 1px #00000085;

    z-index: 3;
}
.cell-covered:hover{
    background: var(--hover-color);
}
.cell-revealed{
    padding: 2px;
}
.cell-value{

    
    font-size: var(--cell-text-size); /*should be based on cell size*/

    -webkit-text-stroke: 2.5px #000000d0;
    color: #ffffff; 
    user-select: none;
    overflow: hidden;

    
}
.cell-value-mine{
    color: #FF6161; 
}

.cell-mine{
    /*acutally this is unused for now*/
}

.cell-flagged-1{
    color: #ffffff;
}
.cell-flagged-2{
    color: #000000;
}

