#kernel-container{
    position: absolute;
    top:0;
    left:0;
    z-index: 15;

    
}
.kernel-row{
    display: flex;
}
/*Kernel Cell border width must be same as cell border width*/
.kernel-cell{
    background: #00000000;

    border-color: #00ff8820; /*make these into 3 color options*/
    color: #00ff8858;

    border-style: solid;
    border-width: 2px; /*Kernel Cell border width must be same as cell border width*/

    animation-duration: 420ms;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.kernel-cell-empty{
    border: 2px solid #00000000; /*Kernel Cell border width must be same as cell border width*/
}
.kernel-cell-value{
    color: inherit;
    position: relative;
    left: 10%;
    top: -5%;
}

@keyframes cell-pulse-green{ /*add more keyframes?*/
    0% {
        border-color: #00ff8888;
        color: #00ff88A8;
        /*border-width: 3px;
        transform: translate(-3px,-3px);*/
    }
    100%{
        border-color: #00ff8820;
        color: #00ff8858;
        /*border-width: 8px;
        transform: translate(-8px,-8px);*/
    }
}
