#kernel-container{
    position: absolute;
    top:  calc(var(--cur-y) * (var(--cell-size) + var(--cell-border) * 2));
    left: calc(var(--cur-x) * (var(--cell-size) + var(--cell-border) * 2));
    z-index: 15;
    transform:  translate(-50%, -50%) 
                translate(calc(var(--cell-size) / 2), calc(var(--cell-size) / 2)) 
                translate(calc(var(--cell-border) ), calc(var(--cell-border) ));
}
.kernel-row{
    display: flex;
}
/*Kernel Cell border width must be same as cell border width*/
.kernel-cell{
    background: #00000000;

    border-color: #00ff8820; /*make these into 3 color options*/
    color: #00ff8858;

    border-style: solid;
    border-width: var(--cell-border); /*Kernel Cell border width must be same as cell border width*/

    height: var(--cell-size);
    width: var(--cell-size);


    animation-duration: 420ms;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.kernel-cell-empty{
    border-color: #00000000;
    border-style: solid;
    border-width: var(--cell-border); /*Kernel Cell border width must be same as cell border width*/

    height: var(--cell-size);
    width: var(--cell-size);
}
.kernel-cell-value{
    color: inherit;
    position: relative;
    left: 5%;
    top: -33%;
    font-size: calc(var(--cell-text-size) * 0.7);
}

@keyframes cell-pulse-green{ /*add more keyframes?*/
    0% {
        border-color: #00ff8888;
        color: #00ff88A8;
    }
    100%{
        border-color: #00ff8820;
        color: #00ff8858;
    }
}
