body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #8a8a8a;
  overflow: hidden;

}

#header{
    width: 100%;
    height: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    background: #535353;
    box-shadow: 0px 3px 5px #00000085;
    display: flex;
    justify-content: space-around;
}
#header div{
    color: #ffffff;
}
#game-area{
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: min-content;
    display: flex;
}


/***************
* BOARD STYLES *
***************/
#game-board{
    
    position: relative; /*needed for TileSelector to align properly, it must be "relatively absolute"*/
    width: min-content;
    /*url('path'); for image backgrounds*/
    /*background: linear-gradient(135deg, #535353 0%,#4d4d4d 100%);*/
    box-shadow: 3px 3px 5px #00000085;

    
    
}
.game-row{
    display: flex;

}
/****************
* HEALTH BAR
*****************/

#health-bar{  
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;*/
    /*margin-left: 5px;
    margin-right: 5px;*/
    width: 40px;
    margin-right: 10;

    position: relative;
}

#health-bar-animate{
    position: absolute;
    /*right: 50%;
    transform: translate(50%, 0%);*/
    width: inherit;  

    background: rgb(77, 0, 0);
    transition: all .7s ease-in-out 0s;
    box-shadow: 3px 3px 5px #00000085;

    bottom: 0;
    left:0;
}
#health-bar-counter{
    z-index: 5;
    width: calc(inherit - 10px);  

    bottom: 0;
    left:0;
    
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    
    padding: 5px;
    transition: all 570ms ease-in-out 100ms;

    font-weight: bolder;
    background: #0000005e;
    color: #ffffff6d;
}


/**************
* CELL STYLES *
**************/
.cell{
    /*height: 20px;
    width: 20px;*/

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;

}
.cell-covered{
    /*background: linear-gradient(135deg, #535353 0%,#4d4d4d 100%);*/
    background: #535353;
}
.cell-covered:hover{
    background: #8a8a8a;
}
.cell-revealed{
    
}
.cell-value{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    color: #ffffff; 
    user-select: none;
    /*overflow: hidden;*/

    
}
.cell-value-mine{
    color: #ff0000; 
}

.cell-mine{
    /*acutally this is unused for now*/
}

.cell-flagged-1{
    color: #ffffff;
}
.cell-flagged-2{
    color: #000000;
}



/**************
* MESSAGE     *
**************/

#game-over-modal{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100vw;
    height: min-content;
    padding: 10px;

    background: #0000005e;

    flex-direction: column;
    align-items: center;

    animation-name: modal-pan-in;
    animation-duration: 320ms;

}
@keyframes modal-pan-in{
    0% {
        left: -60%;
    }
    100%{
        left: 50%;
    }
}
#game-over-modal * {
    margin-left: 50%;
    transform: translate(-50%, 0%);
}
#game-over-modal div {
    width: max-content;
    color: #ffffff;
    background: #00000042;
    padding: 5px;
    margin-bottom: 7px;
}

/****************
* CURSOR
****************/
#game-board{
    
}
#tile-cursor{
    position: absolute;
    top: 0;
    left:0;
    z-index: 2;
    background: #00000000;
    border-style: solid;

    animation-name: cursor-blink;
    animation-duration: 420ms;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes cursor-blink{ /*add more keyframes?*/
    0% {
        border-color: #8842015e;
        border-width: 1px;
        transform: translate(-1px,-1px);
    }
    100%{
        border-color: #e07511a1;
        border-width: 6px;
        transform: translate(-6px,-6px);
    }
}

/****************
* OPTIONS MENU
*****************/

#menu-container{

    bottom: -50vh; /*COUPLED CODE #1*/
    left: 50%;
    transform: translate(-50%,0%);
    position: fixed;
    transition: bottom .7s ease-in-out 0s;
    display: flex;
    flex-direction: column;
}
.menu-open-anim{
    bottom: 0 !important;
}
#menu-open-close{
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}
#menu-panel{
    background: #0000005e;
    width: 80vw;
    transition: width 500ms ease-in-out .3s;
    height: 50vh; /*COUPLED CODE #1*/
}
#menu-icon{
    fill: #00000042 !important;
}
#menu-panel *{
    margin-left: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    transform: translate(-50%,0%);
    border: none;
}
#menu-panel input{
    background: rgba(0, 0, 0, 0.644);
    color: #ffffff5d;
    padding: 2px;
}
#mine-slider{
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    height: 5px;
    opacity: 0.7;
    transition: opacity 150ms ease-in-out;
}
#mine-slider:hover{
    opacity: 1;
}
#mine-slider::-webkit-slider-thumb{
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    cursor: pointer; /* Cursor on hover */

    width: 15px; 
    height: 15px;
    background: #c2c2c2;
}


/**************
* UTILITY     *
**************/
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
 }

 /**************
  BUTTONS
  *************/

button {
    color: #ffffff;
    background: #535353;
    box-shadow: 3px 3px 5px #00000085;
    border: none;
    cursor: pointer;
    transition: all 150ms ease-in-out;

}
button:hover{
    color: #000000;
    background: #f5f5f5;
}

