#game-board{
    height: 100%;
    width: 100%;
    
}
.game-row{
    display: flex;

}
.cell{
    height: 50px;
    width: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: #3c0f70;
    background: #6e1acf;
    /*margin: 1px;*/

    display: flex;
    align-items: center;
    justify-content: center;
}
.cell-value{
    color: #ffffff;
    user-select: none;
}
.cell:hover{
    background: #bda3db;
}

