
/***************
* BOARD STYLES *
***************/
#game-board{
    height: 100%;
    width: 100%;
    
}
.game-row{
    display: flex;

}

/**************
* CELL STYLES *
**************/
.cell{
    height: 15px;
    width: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.cell-covered{
    background: #535353
}
.cell-covered:hover{
    background: #7e7e7e;
}
.cell-revealed{
    
}
.cell-value{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    color: #ffffff; 
    user-select: none;
    overflow: hidden;
}
.cell-value-mine{
    color: #ff0000; 
}

.cell-mine{
    /*acutally this is unused for now*/
}


