body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #8a8a8a;

}

#header{
    width: 100%;
    height: 15px;
    background: #535353;
    box-shadow: 0px 3px 5px #00000085;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}
#header div{
    color: #ffffff;
}


/***************
* BOARD STYLES *
***************/
#game-board{
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0%);
    
    width: min-content;
    /*url('path'); for image backgrounds*/
    /*background: linear-gradient(135deg, #535353 0%,#4d4d4d 100%);*/
    box-shadow: 3px 3px 5px #00000085;
    
    
}
.game-row{
    display: flex;

}

/**************
* CELL STYLES *
**************/
.cell{
    /*height: 20px;
    width: 20px;*/

    display: flex;
    align-items: center;
    justify-content: center;
}
.cell-covered{
    /*background: linear-gradient(135deg, #535353 0%,#4d4d4d 100%);*/
    background: #535353;
}
.cell-covered:hover{
    background: #8a8a8a;
}
.cell-revealed{
    
}
.cell-value{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    color: #ffffff; 
    user-select: none;
    overflow: hidden;
}
.cell-value-mine{
    color: #ff0000; 
}

.cell-mine{
    /*acutally this is unused for now*/
}


/**************
* MESSAGE     *
**************/

#game-over-modal{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100vw;
    height: min-content;
    padding: 10px;

    background: #0000005e;

    flex-direction: column;
    align-items: center;

    animation-name: modal-pan-in;
    animation-duration: 320ms;

}
@keyframes modal-pan-in{
    0% {
        left: -60%;
    }
    100%{
        left: 50%;
    }
}
#game-over-modal * {
    margin-left: 50%;
    transform: translate(-50%, 0%);
}
#game-over-modal div {
    width: max-content;
    color: #ffffff;
}
#game-over-modal button {
    color: #ffffff;
    background: #535353;
    box-shadow: 3px 3px 5px #00000085;
    border: none;
    cursor: pointer;

}
#game-over-modal button:hover{
    color: #000000;
    background: #f5f5f5;
}

/**************
* UTILITY     *
**************/
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
 }